:root {
    --primary-blue: #010CC2;
    --text-dark: #212121;
}

html body {
    font-family: 'Poppins', serif;
    background-color: var(--primary-blue);
    height: 100%;
    font-style: normal;
}

@media only screen and (max-width: 1034px) {
    .container {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}
