html body {
    font-family: 'Poppins', serif;
    background-color: #010CC2;
    height: 100%;
    font-style: normal;
}

.container {
    width: 1380px;
}

@media only screen and (max-width: 1034px) {
    .container {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}
